.choice{
    display: inline-block;
    background-color: red;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}


#opponentChoice{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    display: inline-block;
    margin-bottom: 2rem;
    background: no-repeat center;
}

#wrapper{
    text-align: center;
}

button{
    margin-left: 1rem;
}
#questionMark{
    font-size: 5rem;
    margin: 0;
    padding: 0;
}