html{
    background-color: hsl(194, 83%, 88%);
    margin-top: none;
    padding-top: none;
}
#game{
    background-color: hsl(194, 83%, 60%);
    height: 100vh;
    max-width: 700px;
    width: 60%;
    display: inline-block;
}

.choice{
    display: inline-block;
    background-color: orange;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}


#opponentChoice{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    display: inline-block;
    margin-bottom: 2rem;
    background: no-repeat center;
    background-color: hsl(194, 83%, 88%);
}
/* .cycle{
    animation: myAnimation 1s ease 1 normal forwards;
}

@keyframes myAnimation{
    0%{
        background-image: url(icons/paper.png);
    }
    10%{
        background-image: url(icons/scissors.png);
    }
    20%{
        background-image: url(icons/rock.png);
    }
    30%{
        background-image: url(icons/paper.png);
    }
    40%{
        background-image: url(icons/scissors.png);
    }
    50%{
        background-image: url(icons/rock.png);
    }
    60%{
        background-image: url(icons/paper.png);
    }
    70%{
        background-image: url(icons/scissors.png);
    }
    80%{
        background-image: url(icons/rock.png);
    }
    90%{
        background-image: url(icons/paper.png);
    }
    
} */

#wrapper{
    text-align: center;
    margin-top: none;
    padding-top: none;
}

button{
    margin-left: 1rem;
}
button:hover{
    box-shadow: darkslategray 2px 2px 5px;
}
#questionMark{
    font-size: 5rem;
    margin: 0;
    padding: 0;
}
#choose{
    margin-top: 2rem;
}
.inline{
    display: inline;
}

@media (max-width: 400px){
    #game{
        min-width:90%;
    }
    #title{
        color: red;
    }


}